const char* wifiSsid = "Wi-Fi";
const char* wifiPassword = "Passw0rd";
const char* receiverSecret = "Secret";
const char* receiverIp = "192.168.1.249";
const int receiverPort = 40000;
const int localPort = 40001;
